
.payment-method-title img {
  vertical-align: middle;
  max-height: 35px;
}

.payl8r-iframe {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-height: 800px;
  width: 100%;
}
.payl8r-collumn {
  width: 50%;
  display: inline;
  margin-top: 2px;
}

.payl8r-right {
  float: right;
  padding-right: 10px;
  width: auto;
}

.payl8r-hide {
  display: none;
}
.visually_hidden {
  opacity: 0;
}
.view-more-button {
  text-decoration: underline;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.view-more-content {
  transition: all 1.5s linear;
}
