
<!--<style>
</style>-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
  <div class="payment-method-title field choice">
    <div class="payl8r-collumn">
      <input type="radio"
             name="payment[method]"
             class="radio"
             data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
      <label class="label" data-bind="attr: {'for': getCode()}">
        Spread the cost with <img data-bind="attr: { src: 'https://assets.payl8r.com/images/Payl8rLogoButton.png'}" alt="Payl8r logo" />
      </label>
      <!--<span data-bind="text: getTitle()"></span>-->
    </label>
  </div>

  <div class="payment-method-content">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="payment-method-billing-address" data-bind="visible: !isInAction()">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <!--        <div class="field required">
                <label data-bind="attr: {for: getCode() + '_transaction_result'}" class="label">
                    <span> ko i18n: 'Transaction Result' /ko </span>
                </label>
    
                <div class="control">
                    <select name="payment[transaction_result]"
                            class="select"
                            data-bind="
                                      options: getTransactionResults(),
                                      optionsValue: 'value',
                                      optionsText: 'transaction_result',
                                      optionsCaption: $t('Transaction Result'),
                                      value: transactionResult">
                    </select>
                </div>
            </div>-->

    <div class="actions-toolbar">
      <div class="primary">
        <button class="button action primary checkout"
                type="submit"
                data-bind="
                        visible: !isInAction(),
                        click: placePendingPaymentOrder,
                        attr: {title: $t('Continue to Payl8r')},
                        css: {disabled: !isPlaceOrderActionAllowed()
                ">
          <span data-bind="i18n: 'Continue to Payl8r'"></span>
        </button>
          <a id="pl-cancel" href="/payl8rpaymentgateway/payment/cancel/"
             data-bind="visible: isInAction()"
             class="button action primary checkout">
              Pick another method
          </a>
      </div>
    </div>

    <div data-bind="visible: isInAction()">
      <div id="iframe-warning" class="message notice">
        <div><!-- ko i18n: 'Please do not refresh the page until you complete payment.' --><!-- /ko --></div>
      </div>
      <!-- ko if: isPaymentReady() -->
      <form 
        data-bind="attr: {action: getIframeAction()}"
        id="payl8rForm" 
        target="payl8rFrame" 
        method="post"
        >
        <input type="hidden" name="data" data-bind="attr: {value: getIframePayload() }"/>
        <input type="hidden" name="rid" data-bind="attr: {value: getIframeUsername() }">  
        <input type="hidden" name="item_data[]" data-bind="attr: {value: getIframeItemData() }">  
        <input type="submit" style="display:none">
      </form>
      <iframe 
        data-bind="attr: {id: getCode() + '-iframe'}, event: {load: iframeLoaded}"
        data-container="paypal-iframe"
        name="payl8rFrame"
        class="payl8r-iframe"
        frameborder="0"
        border="0"
        width="100%"
        >
      </iframe>
      <!-- /ko -->
    </div>

  </div>
</div>
